.apt_generated/*
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/target/*
.factorypath
MANIFEST.MF
/bin/.settings/*
/bin/*
/build/*
/WebContent/WEB-INF/lib/*