<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fla.common.dao.interfaces.APPConfigDaoInterface">
    
    <select id="getRegisteredCustomers" parameterType="java.util.Map" resultType="com.fla.common.entity.CustomerInfo">
       SELECT
            a.ID id,
			a.NAME name,
			a.PHONE_NUMBER phoneNumber,
			a.LANDLINE_NUMBER landlineNumber,
			a.WEIXIN_ID weixinId,
			a.IDENTITY_CARD identityCard,
			a.GENDER gender,
			a.ADDRESS address,
			a.AREA_CODE areaCode,
			c.NAME areaName,
			a.EMAIL email,
			a.QQ qq,
			a.INITIALS_CODE initialsCode,
			a.SPELLING_CODE spellingCode,
			a.SERVICE_SHOP_CODE shopCode,
			b.NAME shopName,
			a.AGE age,
			a.AGE_SECTION ageSection,
			a.WHETHER_HAVE_CAR whetherHaveCar,
			a.IS_INTEREST isInterest,
			a.PASSWORD password,
			a.LOGIN_NAME loginName,
			a.VERSION version,
			a.LOGIN_FREQUENCY loginFrequency,
			a.CREATE_DATE createDate
		from tf_customer_info a
		left join tf_shop_info b on b.shop_code = a.service_shop_code
		left join tf_area_info c on c.code = a.area_code
		<where>
			1=1
		   <if test="phoneNumber != null and phoneNumber != '' ">
		   		AND (substring(a.PHONE_NUMBER,8,11) like '%${phoneNumber}' or a.PHONE_NUMBER = #{phoneNumber})
		   </if>
		   <if test="shopCode != null and shopCode != '' ">
		   		AND a.SERVICE_SHOP_CODE = #{shopCode}
		   </if>
		</where>
    </select>
    
    <select id="getProviderContacts" parameterType="java.util.Map" resultType="com.fla.common.entity.ExpressProviderContacts">
    	select  
		 	a.ID id,
		 	a.NAME name,
		 	a.PHONE_NUMBER phoneNumber,
		 	a.AREA_CODE areaCode,
		 	a.SERVICE_SHOP_CODE shopCode,
		 	a.TYPE type,
		 	a.REMARK remark,
		 	a.PROVIDER_ID providerId,
		 	b.NAME providerName
 		from tf_express_service_provider_contacts a 
 		left join tf_express_service_provider_info b on b.ID = a.PROVIDER_ID
 		where a.PHONE_NUMBER = #{phoneNumber}
    </select>
    
    <insert id="setCustomerBeProviderContacts" parameterType="com.fla.common.entity.ExpressProviderContacts" useGeneratedKeys="true" keyProperty="id">
    	INSERT INTO TF_EXPRESS_SERVICE_PROVIDER_CONTACTS(
    		ID,
    		NAME,
    		PHONE_NUMBER,
    		AREA_CODE,
    		SERVICE_SHOP_CODE,
    		`TYPE`,
    		REMARK,
    		PROVIDER_ID
    	) VALUES (
    		nextval('seq_express_service_provider_contacts_id'), 
    		#{name}, 
    		#{phoneNumber}, 
    		#{areaCode}, 
    		#{shopCode}, 
    		#{type}, 
    		#{remark}, 
    		#{providerId}
    	)
    </insert>
     
</mapper>
